/* *************************** CUSTOM STYLES *************************** */

:root {
  --clr-main-black: #262626;
  --clr-shadow-gray: #888888;
}

/* *************************** BASE STYLES *************************** */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif, helvetica;
  letter-spacing: 0.1rem;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
}

/* *************************** END BASE STYLES *************************** */

/* *************************** START NAVBAR *************************** */

header {
  background: var(--clr-main-black);
  position: fixed;
  width: 100%;
  height: 70px;
  font-size: 2rem;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 7rem;
}

.nav-logo {
  display: none;
  font-size: 4rem;
  margin-left: 3rem;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

button {
  margin-right: 3rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.contact-btn {
  color: var(--clr-main-black);
}

.hamburger {
  display: none;
  margin-right: 3rem;
  cursor: pointer;
}

.bar {
  display: block;
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 300ms ease-in-out;
}

/* Navbar hover */
.nav-item :after {
  display: block;
  content: "";
  border-bottom: 2px solid #fff;
  margin-top: 0.5rem;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-item :hover:after {
  transform: scaleX(1);
}

/* *************************** END NAVBAR *************************** */

/* *************************** START WELCOME  *************************** */

#welcome {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.welcome-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--clr-main-black);
  max-width: 1280px;
}

.about-left-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-left-wrap h1 {
  font-size: 4rem;
  font-weight: 600;
}

.about-left-bio {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.about-left-sub-bio {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2.8rem;
  width: 75%;
}

.profile-pic {
  max-width: 40rem;
}

/* *************************** END WELCOME SECTION *************************** */

/* *************************** START SKILLS SECTION *************************** */

#skills {
  background: var(--clr-main-black);
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-end,
.back-end,
.other,
.software,
.key-comp,
.super-skills {
  display: flex;
  flex-direction: column;
}

.skills-wrap h1 {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  margin: 2rem;
}

.skills-wrap h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.skills-hard,
.skills-soft {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 4rem 0;
}

.skills-hard h3,
.skills-soft h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
}

.skills-wrap li {
  margin: 1rem 0;
}

/* *************************** END SKILLS *************************** */

/* *************************** START PROJECTS SECTION *************************** */

#projects {
  width: 100%;
  min-height: 100vh;
}

.projects-wrap {
  padding: 10rem;
  max-width: 1280px;
  margin: 0 auto;
}

.projects-wrap h1 {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  margin: 2rem;
}

.projects-wrap h2 {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin: 2rem;
  font-style: italic;
}

.project-title {
  background: var(--clr-main-black);
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  padding: 1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
}

.project-image {
  /* width: 100%; */
  /* object-fit: cover; */
}

.image {
  overflow: hidden;
  /* display: inline-block; */
}

.image img {
  width: 100%;
  display: block;
  /* height: auto; */
}

.image .zoom-in img {
  transform: scale(1);
  transition: 250ms ease-in-out;
}

.image .zoom-in:hover img {
  transform: scale(1.5);
  opacity: 0.7;
}

/* *************************** END PROJECTS SECTION *************************** */

/* *************************** START EDUCATION SECTION *************************** */

#education {
  background: var(--clr-main-black);
  color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-wrap h1 {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  gap: 3rem;
}

.school {
  margin: 2rem 0;
}

.school h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
  border-bottom: 1px solid #fff;
}

.school li {
  margin: 1rem;
}

.school p {
  margin: 0.5rem 0;
}

.csus {
  font-style: italic;
}

/* *************************** END EDUCATION SECTION *************************** */

/* *************************** START CERTS SECTION *************************** */

#certs {
  color: var(--clr-main-black);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certs-wrap h1 {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  margin: 2rem;
}

.certs li {
  margin: 2rem;
}

.certs-bold {
  font-weight: 500;
}

/* *************************** END CERTS SECTION *************************** */

/* *************************** START CONTACT SECTION *************************** */

#contact {
  background: var(--clr-main-black);
  color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-wrap h1 {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
}

.contact-links {
  display: flex;
  justify-content: center;
  margin: 4rem;
  gap: 2rem;
}

.contact-links a:after {
  display: block;
  content: "";
  border-bottom: 2px solid #fff;
  margin-top: 0.5rem;
  transition: transform 200ms ease-in-out;
  transform: scaleX(0);
}

.contact-links a:hover:after {
  transform: scaleX(1);
}

/* *************************** END CONTACT SECTION *************************** */

/* *************************** START FOOTER SECTION *************************** */

#footer {
  background: #fff;
  color: var(--clr-main-black);
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* *************************** END FOOTER SECTION *************************** */

/* ***************** Large devices only ***************** */
@media (max-width: 1920) {
}

/* ***************** Medium devices only ***************** */
@media (min-width: 992px) and (max-width: 1199px) {
  /* NAVBAR */

  header {
    font-size: 1.8rem;
  }

  .nav-menu {
    gap: 2rem;
  }

  button {
    margin-right: 2rem;
    font-size: 1.8rem;
    padding: 0.8rem 1.8rem;
  }

  /* END NAVBAR */

  /* WELCOME SECTION */

  .welcome-wrap {
    max-width: 880px;
  }

  .about-left-wrap h1 {
    font-size: 3.6rem;
  }

  .about-left-bio {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .about-left-sub-bio {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }

  /* SKILLS SECTION */

  .skills-wrap h1 {
    font-size: 3.6rem
  }

  .skills-wrap h2 {
    font-size: 2.6rem;
  }

  .skills-hard h3,
  .skills-soft h3{
    font-size: 1.8rem;
  }

  /* END SKILLS */

  /* PROJECTS SECTION */

  .projects-section-header {
    font-size: calc(4rem - 10%);
  }

  .project-title {
    font-size: calc(2rem - 10%);
  }

  /* EDUCATION SECTION */

  .education-section-header {
    font-size: calc(4rem - 10%);
  }

  .school-header h3 {
    font-size: calc(2rem - 10%);
  }

  .course {
    font-size: calc(1.6rem - 10%);
  }

  /* CERTS SECTION */

  .certs-section-header {
    font-size: calc(4rem - 10%);
  }

  .certs {
    font-size: calc(2rem - 10%);
  }

  /* CONTACT SECTION */

  .contact-section-header {
    font-size: calc(4rem - 10%);
  }

  /* FOOTER SECTION */

  #footer {
    font-size: calc(1.6rem - 10%);
  }
}

/* ***************** Small devices only (iPad) ***************** */
@media (min-width: 768px) and (max-width: 991px) {
  /* NAVBAR */

  nav ul li {
    font-size: calc(2rem - 20%);
    padding: 0.5rem 0.5rem;
  }

  button {
    font-size: calc(2rem - 20%);
  }

  .hover a:after {
    border-bottom: 1px solid #fff;
  }

  /* WELCOME SECTION */

  .about-left-wrap {
    margin: 1rem 0 1rem 5rem;
  }

  .about-right-wrap {
    margin: 1rem 1rem 1rem 0;
  }

  .about-left-wrap div,
  .about-right-pic {
    margin: 1rem 0;
    padding: 0 1.5rem;
  }

  .about-left-header h1 {
    font-size: calc(4rem - 20%);
  }

  .about-left-summary {
    font-size: calc(2rem - 20%);
    line-height: calc(2.8rem - 20%);
  }

  .about-left-sub-summary {
    font-size: calc(1.6rem - 20%);
    line-height: calc(2.2rem - 30%);
  }

  /* SKILLS SECTION */

  .skills-section-header {
    font-size: calc(4rem - 30%);
    margin: 4rem 4rem 2rem;
  }

  .skills-header h3,
  .skills-hard h4,
  .skills-soft h4 {
    font-size: calc(2rem - 20%);
  }

  .skills-hard li,
  .skills-soft li {
    font-size: calc(1.6rem - 20%);
  }

  /* PROJECTS SECTION */

  .projects-section-header {
    font-size: calc(4rem - 20%);
  }

  .project-title {
    font-size: calc(2rem - 20%);
  }

  /* EDUCATION SECTION */

  .education-section-header {
    font-size: calc(4rem - 20%);
  }

  .school-header h3 {
    font-size: calc(2rem - 20%);
  }

  .course {
    font-size: calc(1.6rem - 20%);
  }

  /* CERTS SECTION */

  .certs-section-header {
    font-size: calc(4rem - 20%);
  }

  .certs {
    font-size: calc(2rem - 20%);
  }

  /* CONTACT SECTION */

  .contact-section-header {
    font-size: calc(4rem - 20%);
    margin: 0 4rem 5rem;
  }

  .contact-links::after {
    border-bottom: 1px solid #fff;
  }

  /* FOOTER SECTION */

  #footer {
    font-size: calc(1.6rem - 20%);
  }
}

/* ***************** Extra Small devices only (iPhone 12 Pro) ***************** */
@media only screen and (max-width: 767px) {
  /* NAVBAR */

  .navbar {
    justify-content: space-between;
  }

  .nav-logo {
    display: flex;
    font-size: 3rem;
  }

  .name-hidden {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    flex-direction: column;
    position: fixed;
    background-color: var(--clr-main-black);
    top: 70px;
    left: -80rem;
    width: 100%;
    gap: 0;
    text-align: center;
    transition: 250ms;
    text-align: center;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 0.5rem;
  }

  .nav-item :after {
    border-bottom: 0.5px solid #fff;
  }

  button {
    font-size: 2rem;
    margin: 0.5rem;
  }

  /* WELCOME SECTION */

  .welcome-section-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--clr-main-black);
  }

  .about-left-wrap {
    margin: 10rem auto 0;
    width: 100%;
  }

  .about-right-wrap {
    margin: 0 auto;
    width: 100%;
  }

  .about-left-wrap div {
    width: 100%;
  }

  .about-left-summary {
    font-size: calc(2rem - 20%);
    line-height: calc(2.8rem - 20%);
  }

  .about-left-sub-summary {
    font-size: calc(1.6rem - 20%);
    line-height: calc(2.2rem - 20%);
  }

  .profile-pic {
    width: 100%;
    padding: 4rem 6rem 6rem;
  }

  /* SKILLS SECTION */

  .skills-section-header {
    font-size: calc(4rem - 70%);
    margin: 4rem;
  }

  .skills-hard,
  .skills-soft {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 2rem;
  }

  .skills-header h3 {
    font-size: calc(2rem - 10%);
    border-bottom: 1px solid #fff;
  }

  .skills-hard h4,
  .skills-soft h4 {
    font-size: calc(2rem - 20%);
    border-bottom: 1px solid #fff;
  }

  .skills-hard li,
  .skills-soft li {
    font-size: calc(1.6rem - 20%);
  }

  .skills-hard li,
  .skills h4,
  .skills-soft li,
  .skills-soft h4 {
    margin: 0.5rem 0;
  }

  /* PROJECTS SECTION */

  .projects-section-header {
    font-size: calc(4rem - 70%);
    margin: 4rem;
  }

  .project-title {
    font-size: calc(2rem - 50%);
  }

  .projects-grid {
    margin: auto;
    /* This will center the grid */
    grid-template-columns: 1fr;
  }

  /* EDUCATION SECTION */

  .education {
    margin: 4rem;
    position: relative;
  }

  .education-section-header {
    font-size: calc(4rem - 70%);
  }

  .school-header h3 {
    font-size: calc(2rem - 20%);
  }

  .course {
    font-size: calc(1.6rem - 20%);
  }

  /* CERTS SECTION */

  .certs-section-header {
    font-size: calc(4rem - 70%);
  }

  .certs {
    font-size: calc(2rem - 20%);
    padding: 0 4rem;
  }

  /* CONTACT SECTION */

  .contact-section-header {
    font-size: calc(4rem - 70%);
    margin: 0 4rem 5rem;
  }

  .contact-links {
    font-size: calc(1.6rem - 20%);
    margin: 4rem;
    align-items: center;
  }

  .contact-links::after {
    border-bottom: 1px solid #fff;
  }

  /* FOOTER SECTION */

  #footer {
    font-size: calc(1.6rem - 20%);
  }
}
