:root {
  --clr-main-black: #262626;
  --clr-shadow-gray: #888888;
  --clr-salmon: #f08e80;
}

/* *************************** BASE STYLES *************************** */

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Montserrat", helvetica, sans-serif;
  /* background-image: linear-gradient(180deg, #fff, var(--clr-main-black)); */
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* *************************** END BASE STYLES *************************** */

/* *************************** START NAVBAR *************************** */

#navbar {
  display: flex;
  background-color: black;
  position: fixed;
  color: white;
  width: 100%;
  top: 0;
  height: 6rem;
  justify-content: flex-end;
  box-shadow: 0 2px 30px var(--clr-shadow-gray);
}

.nav-list {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.nav-list li {
  margin: 0.5rem;
  font-weight: 100;
}

.nav-list li:hover {
  border-bottom: 1px solid #fff;
}

/* *************************** END NAVBAR *************************** */

/* *************************** START WELCOME SECTION *************************** */

#welcome-section {
  margin-top: 10rem;
  font-size: 1.6rem;
  width: 100%;
}

.welcome-wrapper {
  display: flex;
}

.about-left-wrapper,
.about-right-wrapper {
  width: 50%;
  margin: 5rem;
}

.about-left-wrapper div {
  margin: 2rem;
}

/* *************************** END WELCOME SECTION *************************** */

/* *************************** START SKILLS SECTION *************************** */

.front-end, .back-end, .other, .software-skills {
  display: flex;
}

/* *************************** END WELCOME SECTION *************************** */
